.box2-1
{
    background-color: rgb(78, 78, 78);
    color: rgb(226, 216, 216);
    padding-bottom: 25px;
}
.col-sm-4,.col-sm-8
{
    height: 100%;
}
.box2-2
{
    background-color: rgb(233, 224, 224);
}
.box2-1 .row
{
    padding-bottom: 10px;
}
.box2-1 h1,.box2-1 p small
{   
   padding-left: 80px;
}
.box2-1 h3
{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}